h5py
ipykernel
ipython
ipython-genutils
jupyter-client
jupyter-core
Keras
matplotlib
nbformat
numpy
plotly
PyYAML
requests
scikit-learn
scipy
sklearn
tensorboard
tensorflow
git+https://github.com/jonDel/nina_helper_package_mk2@db3
